body{
margin:0;
font-family:Arial, sans-serif;
background:#ffeef5;
color:#333;
text-align:center;
}

header{
background:#ff8fb1;
color:white;
padding:40px;
}

section{
padding:40px 20px;
}

button{
padding:15px 30px;
border:none;
background:#ff4d88;
color:white;
border-radius:30px;
font-size:18px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.08);
}

.gallery{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.gallery img{
width:220px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.2);
}

ul{
list-style:none;
padding:0;
font-size:20px;
}

.promise{
background:white;
padding:25px;
max-width:650px;
margin:auto;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

#hiddenMessage{
display:none;
margin-top:25px;
}

footer{
padding:25px;
background:#ff8fb1;
color:white;
margin-top:50px;
}

#popup{
display:none;
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
background:rgba(0,0,0,.6);
justify-content:center;
align-items:center;
}

.card{
background:white;
padding:35px;
border-radius:20px;
max-width:420px;
animation:pop .4s;
}

@keyframes pop{
from{
transform:scale(.6);
opacity:0;
}
to{
transform:scale(1);
opacity:1;
}
}
